@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Hind:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.content-wrapper {}

.xblock-render .neighborhood_dynamics_block {
  position: relative;
  height: 540px;
  height: 100%;
}

.xblock-render .neighborhood_dynamics_block .background {
  position: relative;
}

.neighborhood_dynamics_block .background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url('https://s3-us-west-2.amazonaws.com/mit-cre-edx/xblocks/neighborhood_dynamics/bg-static-int-street-grid_2x.jpg') no-repeat;
  background-size: cover;
}

.neighborhood_dynamics_block .section{
  height: 100%;
  width: 100%;
}

.neighborhood_dynamics_block .content-wrapper {
  position: relative;
  height: 65%;
  width: 72%;
  margin: 160px auto 20px;
  overflow: auto;
}

.neighborhood_dynamics_block .content-a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  overflow: auto;
  max-height: 70%;
  padding: 0;
  width: 100%;
}

.neighborhood_dynamics_block .content {
  position: relative;
  display: block;
  width: auto;
  padding: 0;
}

.neighborhood_dynamics_block .page-navigation {
  width: 72%;
  margin: 0px auto 0;
  position: relative;
  bottom: 0;
}

.neighborhood_dynamics_block .content a {
  text-decoration: underline;
  font-style: italic;
  color: white;
}

.neighborhood_dynamics_block .section-container {
  height:100%;
  width:100%;
}

.neighborhood_dynamics_block img {
  display: block;
  width: 70%;
  height: auto;
  margin: 1em auto;
}

.neighborhood_dynamics_block p {
  padding: 5px 15px 0 0 !important;
  font-size: 14px !important;
  font-family: "Hind", sans-serif !important;
  margin-bottom: 0 !important;
}

.neighborhood_dynamics_block button {
  border: 1px solid #d2c9c9;
  padding: 6px 60px;
  border-radius: 0;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #fff;
  background: transparent;
  box-shadow: 0 0 0;
  text-shadow: 0 0 0;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;;
}

.neighborhood_dynamics_block #begin {
  padding: 20px 60px;
}

.neighborhood_dynamics_block button:hover,
.neighborhood_dynamics_block button:focus {
  background: white;
  color: black;
  text-shadow: 0 0 0 !important;
  box-shadow: 0 0 0 !important;
}

.neighborhood_dynamics_block button:disabled {
  border-color: gray !important;
  color: gray;
}

.neighborhood_dynamics_block button:disabled:hover {
  background: transparent;
  color: gray;
}

.neighborhood_dynamics_block {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.neighborhood_dynamics_block .begin{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.neighborhood_dynamics_block .task1 .charts .task2{
  position: fixed;
  top: 50%;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.neighborhood_dynamics_block .header-text {
  font-size: 36px !important;
  font-family: "Lora", sans-serif !important;
  line-height: normal;
  color: #fff !important;
  padding: 30px 0 35px;
  text-align: center;
  margin: 0 !important;
}

.neighborhood_dynamics_block .begin-container {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.neighborhood_dynamics_block .main-content {
  margin: 50px auto;
  position: relative;
  text-align: center;
  width: 100%;
}

.neighborhood_dynamics_block span.myicon-map {
  background-image: url(../img/map.png);
  background-position: 0 0;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  left: 5px;
  z-index: 1;
}

.neighborhood_dynamics_block .view-on-map{
  font-size: 16px !important;
  font-family: "Hind", sans-serif !important;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.neighborhood_dynamics_block .view-on-map span {
  display: inline-block;
  vertical-align: middle;
}

.neighborhood_dynamics_block .view-on-map .view-on-map-text:hover {
  text-decoration: underline;
}

.neighborhood_dynamics_block .hint-link{
  font-size: 16px;
  font-family: "Hind", sans-serif !important;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
  position: relative;
  overflow-x: visible !important;
}

.neighborhood_dynamics_block .hint-link:hover:after{
  background: #d96f48;
  bottom: 40px;
  color: white;
  content: attr(data-nesto);
  left: -440px;
  padding: 20px;
  position: absolute;
  z-index: 98;
  width: 500px;
  font-style: normal;
  line-height: 24px;
}

.neighborhood_dynamics_block .hint-link:hover:before{
  border: solid;
  border-color: #d96f48 transparent;
  border-width: 10px 10px 0 10px;
  bottom: 30px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

.neighborhood_dynamics_block .task-label{
  font-size: 18px;
  font-family: "Hind" !important;
  font-weight: bold;
  color: white;
  display: inline-block;
  vertical-align: middle;
  min-width: 157px;
  margin-bottom: 0;
}

.neighborhood_dynamics_block .task-label-small{
  font-size: 18px;
  font-family: "Hind" !important;
  font-weight: normal;
  color: white;
  display: inline-block;
  vertical-align: middle;
  min-width: 167px;
}

.neighborhood_dynamics_block .task-input{
  font-size: 15px;
  font-family: "Hind" !important;
  font-style: italic;
  color: white;
  background: #666666;
  border: none;
  padding: 10px 24px;
  text-align: center;
  width: 166px;
  display: inline-block;
  vertical-align: middle;
}

.neighborhood_dynamics_block .task-line{
  left: 555px;
  border: 1px solid white;
  margin-top: -14px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
  width: 12px;
}

.neighborhood_dynamics_block .task-circle{
  border-radius: 5px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: inline-block;
  background: #880d0f;
  vertical-align: middle;
  margin-left: 10px;
}

.neighborhood_dynamics_block .question-wrapper {
  margin-top: 30px;
}

.neighborhood_dynamics_block .question{
  padding-top: 12px;
}

.neighborhood_dynamics_block .answers{
  padding-top: 10px;
}

.neighborhood_dynamics_block .pn-wrapper {
  float: right;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
.charts.section .pn-wrapper {

}

.neighborhood_dynamics_block .submit{
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.control.globe {
  position: absolute;
  left: 10px;
  text-transform: uppercase;
  font-size: 18px;
}

.control.globe .icon-user {
    margin-right: 5px;
    font-size: 24px;
}

.neighborhood_dynamics_block .item {
  width: 20%;
  text-align: left;
  color: white;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
}

.neighborhood_dynamics_block .item-line-top {
  background-color: #c94d29;
  height: 7px;
  border: none;
  border-radius: 1px;
}

.neighborhood_dynamics_block .item-title {
  font-size: 48px;
  font-family: "Hind" !important;
  display: block;
}

.neighborhood_dynamics_block .activity {
  font-size: 14px;
  font-family: "Hind", sans-serif !important;
  font-weight: 300;
  line-height: normal;
  display: block;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: underline;
}

.neighborhood_dynamics_block .item-text {
  font-size: 18px;
  font-family: "Hind" !important;
  display: block;
  padding: 20px 0;
}

.neighborhood_dynamics_block .content-text {
  font-size: 16px !important;
  font-weight: 400;
  line-height: normal;
  color: white !important;
  text-align: left;
  margin: 0;
  padding: 3em;
}

.neighborhood_dynamics_block #activity-progress {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 12;
}

.neighborhood_dynamics_block #activity-progress li {
  width: calc(20% - 5px);
  margin-right: 0.85px;
  display: inline-block;
  background: grey;
  background: white;
  opacity: .3;
}

.neighborhood_dynamics_block #activity-progress li:last-child {
  margin-right: 0;
  width: 20%;
}

.neighborhood_dynamics_block #activity-progress li.highlighted {
  opacity: 1;
}

.neighborhood_dynamics_block .download-case-kit-link {
  cursor: pointer;
}

.neighborhood_dynamics_block .download-case-kit-link:hover {
  text-decoration: underline !important;
}

/* Let's get this party started */
::-webkit-scrollbar { width: 10px; }
/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.3);
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.9);
}
::-webkit-scrollbar-thumb:window-inactive { background: rgba(255,255,255,0.4); }
